<div class="container about__block">
    <h2>About the Project</h2>
    <p>Welcome to the Todo List project! This project is a simple web application that allows you to manage your tasks and stay organized. It provides a user-friendly interface where you can create, update, and delete your todo items.</p>
    
    <h3>Key Features</h3>
    <ul>
        <li>Create new todo items with titles and descriptions.</li>
        <li>Set the status of each todo item (Normal, Important, Completed).</li>
        <li>Search for specific todo items by their titles.</li>
        <li>Filter todo items based on their status (Normal, Important, Completed).</li>
    </ul>

    <h3>Technologies Used</h3>
    <p>This project is built using the Angular framework for the frontend development. It leverages the power of Angular components, services, and data binding to create a seamless user experience. The todo items are managed using a custom TodoService, which handles data retrieval, addition, and updates.</p>

    <h3>Get Started</h3>
    <p>To get started with the Todo List application, simply create an account or log in if you already have one. Once logged in, you can start managing your tasks and organizing your daily activities. Enjoy the simplicity and effectiveness of the Todo List!</p>
</div>
